.page-title {
  margin-top: 3rem;

  .title-text {
    font-weight: 900;
  }
}

.page-image-wrapper {
  .page-image {
    width: 100%;
    border-radius: 1%;
  }
}

.content {
  .content-text {
    font-size: 26px;
  }
}

@media (min-width: 1281px) {
  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {


  .page-image-wrapper {
    .page-image {
      width: 100%;
      border-radius: 1%;
    }
  }
  .content {
    .content-text {
      padding: 1rem;
      font-size: 26px;
    }

    .contact-link {
      padding-top: 0 !important;
    }
  }
}