$card-bg : #dff9fb;

.product {
  border: none;
  background: $card-bg;
  border-radius: 30px 30px 30px 30px;

  &__img {
    width: 100%;
    border-radius: 30px 30px 0px 0px;
  }

  &__text {
    flex: 0 0 40%;
  }

 

  &__title {
    font-size: .8rem;
  }

  &__description {
    font-size: 0.7rem;
  }

  &__add-to-cart {
    position: absolute;
    bottom: .8rem;
    width: 60%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: all .2s;
    padding: 3px 12px;

  }

  &:hover &__add-to-cart {
    visibility: visible;
    opacity: 1;
  }

  &:hover .owl-dots {
    display: inline-block;
  }

}

.card-body {
    padding-left: 0;
    padding-right: 0;
    padding-top: 23px;

    .card-title {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 0.3rem;

        a {
            color: black;
        }
    }
}




.card-title a:hover {
    text-decoration: none;
    color: black;
}
.product-dtl {
    border:none;
}

.product__brand {
    position: absolute;
    right: 5%;
    margin-top: 1rem;
    background: #f6e58d;
    padding: 5px;
    color: black;
    border-radius: 17px;
    font-weight: 900;
}

.product__link:hover {
    text-decoration: none;
}

.product-info {
  
    
    .product__price {
        font-size: 20px;
        font-weight: 900;
        margin-top: 1rem;
    }
}


@media only screen and (max-width: 768px) {
  .product {
    height: auto !important;

    &__add-to-cart {
      visibility: visible;
      opacity: 1;
    }

    & .owl-dots {
      display: inline-block;
    }

    

  }
}

