

.product {
  border: none;
  border-radius: 9px;
  margin: 20px;
  box-shadow: 0px 3px 48px -6px rgba(0,0,0,0.1);

  &__img {
    width: 100%;
    border-radius: 9px 9px 0px 0px;
  }

  &__text {
    flex: 0 0 40%;
  }

 

  &__title {
    font-size: .8rem;
  }

  &__description {
    font-size: 0.7rem;
  }

  &__add-to-cart {
    position: absolute;
    bottom: .8rem;
    width: 60%;
    left: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
    transition: all .2s;
    padding: 3px 12px;

  }

  &:hover &__add-to-cart {
    visibility: visible;
    opacity: 1;
  }

  &:hover .owl-dots {
    display: inline-block;
  }

}

.card-body {


    .card-title {
        font-size: 22px;
        font-weight: 900;
        margin-bottom: 0.3rem;

        a {
            color: #636e72;
        }
    }

    .product-location {
      .location-text {
        font-size: 15px;
        font-weight: 900;
        color: #636e72;
      }
    }

    .sqft, .rooms {
      font-size: 15px;
      font-weight: 900;
      color: #636e72;
    }

    .icon {
      color: #ff4757;
    }
}




.card-title a:hover {
    text-decoration: none;
    color: black;
}
.product-dtl {
    border:none;
}

.product__brand {
    position: absolute;
    right: 5%;
    margin-top: 1rem;
    background: #f6e58d;
    padding: 5px;
    color: black;
    border-radius: 10px;
    font-weight: 900;
}

.product__link:hover {
    text-decoration: none;
}

.product-info {
  
    
    .product__price {
      font-size: 30px;
      font-weight: 900;
    }
}


@media only screen and (max-width: 768px) {
  .product {
    height: auto !important;

    &__add-to-cart {
      visibility: visible;
      opacity: 1;
    }

    & .owl-dots {
      display: inline-block;
    }

    .sqft, .rooms {
      font-size: 14px;
    }

    .location-text {
      font-size: 14px !important;
    }

    .card-title a {
      font-size: 18px
    }

    .product__price {
      font-size: 23px;
    }

  }
}

