.navbar-brand img {
    height: 50px;
    margin-bottom: 10px;
}

.nav-link.brand-link a {
    margin-bottom: 10px;
    border: red;
}
.nav-link {
    font-weight: 500;
}

/* desktop */
@media (min-width: 1281px) {
    .nav-link {
        font-size: 20px;
        width: 150px;
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        font-weight: 500;
    }

    .navbar-collapse {
        width: 1000px;
        margin-left: -16px;
    }

    .brand-mobile {
        display: none;
    }
    
}

.navbar-toggler.collapsed {
    margin-left: 16%;
    margin-top: 2% !important;
    margin-bottom: 10%;
    border: none;
}

.navbar-toggler.collapsed:focus {
    border: none;
    outline: transparent;
}

.navbar-toggler:focus {
    
    border: none;
    outline: transparent;
}


.navbar-light .navbar-toggler {
    margin-left: 0% !important;
    margin-bottom: 9%;
    margin-top: 1%;
    border: none;
}

.collapse.show {
    
    width: 317px;
    text-align: center;
}

.collapsing {
    
    width: 317px;
    text-align: center; 
}

/* mobile */
@media only screen and (max-width: 768px) {
    .brand-link {
        display: none;
    }

    .brand-mobile {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .brand-mobile img {
        margin-left: 3em;
    }
    
    
}
