.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  user-select: none;

  &__input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;


  }

  &__span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1.2rem;
    width: 1.2rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50%;

    &::after {
      content: "";
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      width: .6rem;
      height: .6rem;
      background-color: dodgerblue;
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover &__span {
    background-color: #eeeeee;
  }

  &__input:checked + &__span::after {
    opacity: 1;
  }
}

.flex-50 {
  flex: 0 0 100%;
}

.accordion-card {
  border: none;

    .accordion-card-header {
      background: transparent;
      padding-left: 1%;
      padding-right: 0;
      border-bottom: 0;
      display: flex;
      

        .accordion-button {
          color: black;
          text-decoration: none;
          
          
          &:hover {
            text-decoration: none;
          }

          i {
            padding: 15px;
            border-radius: 50%;
            color: white;
            background: #007bff;
          }
        }
    }

    .collapse {
      transition: height 0.5s ease 0s;
    }

    .show {
      
      .accordion-card-body {
        height: 5rem;

      }
    }
    .collapsing {
      
      height: 0px !important;
    }
}

.category-card {
  border: none;
}

.category-card .card-header {
  background: white;
  padding-top: 0 !important;
}

.list-group-item {
  border: none;
}




@media only screen and (max-width: 768px) {
  .accordion-card {
    position: fixed;
    width: 100%;
    z-index: 30;
    background: transparent;
    bottom: 0;
    left: 0;

    .accordion-card-header {
      padding-left: 0;
      justify-content: flex-end;

      .accordion-button {
        position: relative;
        right: 11px;

        i {
          box-shadow: 10px 10px 90px -17px rgba(0,0,0,0.98);
        }
      }
    }
  }

  .show {
    height: 35rem;

    .accordion-card-body {
      height: 100% !important;
      background: white;
      display: block;
      border-radius: 41px 41px 0px 0px;
      box-shadow: 0px -9px 31px -12px rgba(0,0,0,0.18);

      .list-title-wrapper {
        margin-top: 1rem;

        .list-title {
          width: 100%;
          font-weight: 600;
          padding: 2%;
        }
      }

      .list-group-item {
        animation: slide-right 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045) 0.8s both;
      }
    }
  }

  .collapsing {
    .accordion-card-body {
      background: white;
    }
  }

  .filter-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap !important;
    overflow-x: scroll;
    flex-direction: row;
    padding-top: 2%;
    padding-bottom: 5%;
    padding-right: 63%;

    .list-group-item {
      padding-bottom: 0;
      margin-right: 3%;
      margin-left: 6%;
      border-radius: 10px;
      box-shadow: 2px 2px 15px -1px rgba(0,0,0,0.2);
    }

    .custom-checkbox {
      font-size: 13px;

      .custom-checkbox__span {
        height: 1rem;
        width: 1rem;
      }
    }
  }

  .location-list {
    .list-group-item {
      display: flex;
      align-items: center;
      height: 4rem;
    }
  }

  .flex-50 {
    flex: 0 0 50%;
  }
}

//for desktop 

@media (min-width: 1281px) {

  .accordion-card-body {
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 0;
    
      .list-title-wrapper {
        position: relative;
        top: 21px;
        background: white;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;

        .list-title {
          font-weight: 600;
        }
      }
  }

  .collapse {
    height: 23rem !important;
  }

  .filter-list {
    height: 5.7rem;
    width: 100%;
    align-items: center;
    padding-top: 15px;
    border: 1px solid black;
    border-radius: 10px;
  }

  .flex-auto {
    flex: 1 1 auto;
  }

  .location-list {
    height: 10rem;
  }

  .list-group-item {
    background: none;
  }

  .w-5 {
    width: 6rem;
  }

  .w-4 {
    width: 4rem;
  }

  .w-10 {
    width: 10rem;
  }
  .w-11 {
    width: 13rem;
  }
  
}

// iph5 portrait
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .show {
      height: 20rem;

      .accordion-card-body {

        .filter-list {

          .list-group-item {
            
            .custom-checkbox {
              display: flex;
              padding-left: 1.5rem;
            }
          }
        }
      }
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .show {
      height: 24rem;
    }
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .show {
      height: 27rem;

      .filter-list {
        padding-bottom: 3%;
      }
    }
}