.owl-dots {
  
  position: absolute;
  bottom: 17vh;
  left: 0;

}

.owl-dots {
  width: 100%;
  text-align: center;
}

.owl-dots .active.owl-dot {
    background-color: white;
    border-color: white;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  margin: 8px 4px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-webkit-radius: 10px;
  zoom: 1;
  background-color: #fff;
  padding: 3px;
  border: solid 1px #e9e9e9;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
  .owl-dots {
    display: inline-block;
    bottom: 35%;
  }

}

//x landscape

@media only screen and (min-width: 812px) and (orientation: landscape)   { 
  .owl-dots {
    bottom: 43vh !important;
  }
}


//6-7-8 plus 
@media only screen and (min-device-width: 667px) and (orientation: landscape) { 
  .owl-dots {
    bottom: 35vh;
  }
}

@media only screen and (min-device-width: 375px) and (orientation: portrait) {
  .owl-dots {
    bottom: 31%;
  }
}

//6-7-8  lands
@media only screen and (min-width: 667px) and (max-width: 375px) and (orientation: landscape) { 
  .owl-dots {
    bottom: 31vh;
  }
}

//pixel 2 xl 

@media only screen and (min-width: 411px) and (max-width: 767px) and (orientation: landscape) {
  .owl-dots {
    bottom: 39vh ;
  }
}